
body {

    background-color: lightgrey;
}


table, th, td {
    border: 2px solid black;
}

h1{
    margin : 25px;
    padding : 20px ;
    width : 250px;
}

form{
    margin : 25px;
    padding : 20px ;
    //border : 1px dotted black;
    width : 250px;
}


